.footer {
  display: flex;
  background-color: hsl(235, 24%, 19%);
  justify-content: center;
  align-items: center;
  height: 50px;
  padding: 0 20px;
  color: rgb(129, 129, 129);
  border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  -ms-border-radius: 0 0 4px 4px;
  -o-border-radius: 0 0 4px 4px;
}

.footer > p:hover {
  color: white;
  cursor: pointer;
}
.light p:hover {
  color: black;
}
.footer > p:first-child {
  margin-right: auto;
  cursor: text;
}
.footer > p:first-child:hover {
  color: rgb(129, 129, 129);
}
.footer > p:last-child {
  margin-left: auto;
}
.footer > p:nth-child(2),
.footer > p:nth-child(3) {
  margin-right: 15px;
}

.active {
  color: hsl(220, 98%, 61%);
}

@media (max-width: 560px) {
  .footer > p:nth-child(2),
  .footer > p:nth-child(3),
  .footer > p:nth-child(4) {
    display: none;
  }
}

.light {
  background-color: white;
}
