.container {
  width: 700px;
  margin-top: 80px;
}

@media (max-width: 750px) {
  .container {
    width: 90vw;
  }
}

.light-mode .container {
  filter: invert(1) hue-rotate(180deg);
  -webkit-filter: invert(1) hue-rotate(180deg);
}

.container > p {
  text-align: center;
  margin-top: 50px;
  color: rgb(92, 92, 92);
}
