*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.invert-again {
  filter: invert(1) hue-rotate(180deg);
  -webkit-filter: invert(1) hue-rotate(180deg);
}

.light-mode body {
  background-image: url("./images/bg-desktop-light.jpg");
  background-color: hsl(0, 0%, 98%);
}

body {
  background-image: url("./images/bg-desktop-dark.jpg");
  background-size: 100vw 250px;
  background-repeat: no-repeat;
  background-color: hsl(235, 21%, 11%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

body,
button,
input {
  font-family: "Josefin Sans", sans-serif;
}
